@use "sass:color";
@use "../../../colors" as colors;

section.polygon-playground {
  display: flex;
  width: 100%;
  height: 100%;

  aside {
    width: 250px;
    position: relative;

    p.list-title {
      text-align: center;
    }

    ul.polygons {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 1.5em 0.7em;

      li {
        background-color: colors.$light-color;
        margin-bottom: 0.5em;
        transition: all 0.3s;

        &:hover {
          cursor: pointer;
          background-color: colors.$white-color;
        }

        div.container {
          display: flex;
          justify-content: space-between;
          padding: 0.3em 0.5em;
          box-sizing: border-box;
          align-items: center;

          button.polygon-name {
            display: flex;

            box-sizing: border-box;
            padding: 0.2em 0.5em;

            font-size: 1.1em;
            color: colors.$primary-text-color;
            border: none;
            width: 100%;
            background-color: transparent;
            transition: all 0.3s;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

    }

    button.finish-button {
      position: absolute;
      bottom: 1.5em;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      width: 200px;
      padding: 1em;
      background-color: colors.$success-color;
      color: colors.$light-color;
      border: none;
      border-radius: 5px;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        left: 50%;
        transform: translateX(-50%) scale(1.1);
      }

      &:disabled {
        background-color: colors.$light-color;
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  div.render {
    width: calc(100vw - 250px);
  }
}
