$primary-text-color: #2A2F35;
$secondary-text-color: #2B2C28;
$error-color: #DF2935;
$light-color: #F4F6F8;
$white-color: #D3D4D9;
$yellow-color: #E9B44C;
$purple-color: #5F5566;
$border-color: #e0e0e0;
$success-color:#588157;
